*, ::before, ::after {
    box-sizing: inherit;
}
html{
    font-size: 62%;
}
body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--main-bg);
    color: var(--lightest-slate);
    font-family: var(--font-sans);
    font-size: var(--text-xl);
    font-size: 1.6rem;
    line-height: 1.4;
}

section {
    margin: 0px auto;
    padding: 60px 0px;
    max-width: 1000px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

p > a {
    display: inline-block;
    position: relative;
    transition: var(--transition);
    color: var(--white);
    text-decoration: wavy;
    text-decoration-line: underline;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
:root {
    --font-main: 'Inter',sans-serif;
    --font-code: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --text-xxs: 12px;
    --text-xs: 13px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-xxl: 22px;
    --text-heading: 32px;
    --border-radius: 8px;
}

:root.dark{
    --main-bg: #01070d;
    --light-bg: #020a13;
    --lightest-bg: #202124;
    --main-bg-shadow: rgba(1, 7, 13, 0.7);
    --primary: #07111d;
    --black: var(--black);
    --slate: #9aa0a6;
    --text-c: #c6c6c6;
    --light-tc: #e1e1e1; 
    --lightest-slate: #bbbbbb; 
    --white: #e6f1ff;  
}
:root.light{
    --main-bg: #fdfdfd;
    --light-bg: #fff;
    --lightest-bg: #202124;
    --main-bg-shadow: rgba(255, 255, 255, 0.7);
    --primary: #f1efef;
    --black: var(--black);
    --slate: #000;
    --text-c: #2f2f2f;
    --light-tc: #464646; 
    --lightest-slate: #000; 
    --white: rgb(41, 41, 41);  
}

